@media only screen and (max-width: 770px) {
  nav {
    padding: 0 15px;
    flex-direction: column;
  }

  #logo {
    width: 100%;
    text-align: center;
    font-size: 2.5em;
    flex-direction: column;
  }

  #menu {
    width: 100%;
    text-align: center;
  }

  .btn {
    width: 100%;
    text-align: center;
    justify-content: center;
  }

  .container {
    text-align: center;
    padding: 20px 40px;
    flex-direction: column-reverse;
  }
  .container .right-box {
    padding: 70px 0 0 0;
  }
  .container .right-box img {
    width: 100vw;
    height: 60vh;
    padding: 50px 65px 0px 0px;
    justify-content: center;
    flex-basis: 50%;
  }
}
@media only screen and (max-width: 400px) {
  nav {
    padding: 0 15px;
    flex-direction: column;
  }

  #logo {
    width: 100%;
    text-align: center;
    font-size: 2.5em;
    flex-direction: column;
  }

  #menu {
    width: 100%;
    padding: 20px;
    flex-direction: column;
  }
  #menu li {
    padding: 10px;
  }
  #menu li a:hover {
    color: white;
    background: black;
  }
  #menu .btn {
    width: 100%;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    margin: 7px 9px 16px 11px;
  }

  .container {
    text-align: center;
    padding: 20px 40px;
    flex-direction: column-reverse;
  }
  .container .right-box {
    padding: 70px 0 0 0;
  }
  .container .right-box img {
    width: 100vw;
    height: 60vh;
    padding: 140px 65px 0px 0px;
    justify-content: center;
    flex-basis: 50%;
  }
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header nav {
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header nav div {
  padding: 0 20px;
}
header nav div h1 {
  font-size: 2rem;
  cursor: pointer;
}
header nav ul {
  display: flex;
}
header nav ul li {
  list-style: none;
  padding: 0 1rem;
}
header nav ul li a {
  text-decoration: none;
  font-size: 1.5rem;
  color: cadetblue;
}
header nav ul li a:hover {
  color: #f3f3f3;
  background: black;
  text-transform: uppercase;
  border-radius: 0.9rem;
  -webkit-border-radius: 0.9rem;
  -moz-border-radius: 0.9rem;
  -ms-border-radius: 0.9rem;
  -o-border-radius: 0.9rem;
}
header nav .btn button {
  color: #fff;
  background: #045898;
  margin: 20px;
  padding: 0.9rem;
  border-radius: 0.9rem;
}
header nav .btn button:hover {
  color: black;
  background: #fff;
  font-weight: 900;
  text-transform: uppercase;
}

.container {
  display: flex;
  text-align: center;
  justify-content: center;
  content: calc(100vh - 100px);
}
.container .left-box {
  padding: 250px 0;
  flex-basis: 40%;
}
.container .left-box h1 {
  font-size: 3rem;
  padding: 0 25px 10px 0;
  color: cyan;
}
.container .left-box p {
  font-size: 1.5rem;
}
.container .left-box .main-btn button {
  color: #fff;
  background: #045898;
  margin: 20px;
  padding: 0.9rem;
  border-radius: 0.9rem;
}
.container .left-box .main-btn button:hover {
  color: black;
  background: #fff;
  font-weight: 900;
  text-transform: uppercase;
}
.container .right-box {
  flex-basis: 50%;
}
