
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header nav {
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header nav div {
  padding: 0 20px;
}
header nav div h1 {
  font-size: 2rem;
  cursor: pointer;
}
header nav ul {
  display: flex;
}
header nav ul li {
  list-style: none;
  padding: 0 1rem;
}
header nav ul li a {
  text-decoration: none;
  font-size: 1.5rem;
  color: cadetblue;
}
header nav ul li a:hover {
  color: #f3f3f3;
  background: black;
  text-transform: uppercase;
  border-radius: 0.9rem;
  -webkit-border-radius: 0.9rem;
  -moz-border-radius: 0.9rem;
  -ms-border-radius: 0.9rem;
  -o-border-radius: 0.9rem;
}
header nav .btn button {
  color: #fff;
  background: #045898;
  margin: 20px;
  padding: 0.9rem;
  border-radius: 0.9rem;
}
header nav .btn button:hover {
  color: black;
  background: #fff;
  font-weight: 900;
  text-transform: uppercase;
}

.container {
  display: flex;
  text-align: center;
  justify-content: center;
  content: calc(100vh - 100px);
}
.container .left-box {
  padding: 250px 0;
  flex-basis: 40%;
}
.container .left-box h1 {
  font-size: 3rem;
  padding: 0 25px 10px 0;
  color: cyan;
}
.container .left-box p {
  font-size: 1.5rem;
}
.container .left-box .main-btn button {
  color: #fff;
  background: #045898;
  margin: 20px;
  padding: 0.9rem;
  border-radius: 0.9rem;
}
.container .left-box .main-btn button:hover {
  color: black;
  background: #fff;
  font-weight: 900;
  text-transform: uppercase;
}
.container .right-box {
  flex-basis: 50%;
}
